.teaching {
    padding: 20px;
    background-color: #e9e6e1;

    .teaching-statement {
        display: flex;
        flex-direction: row;

        .tamu-headshot .tamu-headshot-img {
            max-width: 400px;
            max-height: 300px;
        }
    }
}

@media (max-width: 600px) {
    .teaching {
        padding: 10px;
        width: 90vw;

        .teaching-statement {
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .tamu-headshot .tamu-headshot-img {
                max-width: 90vw;
                max-height: 300px;
            }
        }
    }
}